<section id="contact" class="parallax-section">
  <div class="container">
    <div class="row details-1">
      <div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
        <h1 class="heading"><%= t "guest.about_you" %></h1>
        <hr>
      </div>
      <div class="col-md-offset-1 col-md-10 col-sm-12">
        <%= render "form" %>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
</section>
