<section id="home" class="parallax-section">
  <div class="container-fluid">
    <div class="banner-info">
      <%= render "form" %>
    </div>
    <div>
      <%= image_tag("table-scheme.png", alt: "rss feed", class: "image") %>
    </div>
  </div>
</section>
